<div class='indexBar'>

  <div class='indexBarItem'>
      <%= link_to 'All Projects', projects_path, class: 'indexButtons' %>

      <% if user_signed_in? %>
        <%= link_to 'Create a Project', new_project_path, class: 'indexButtons' %>
      <% end %>

      <%= link_to 'Project Chatrooms', chatrooms_path, class: 'indexButtons' %>
  </div>
</div>

<div class='profileInfo' id='difColorStripe'>
  <p>
    <%= @current_user.username %> | <%= link_to 'Edit Profile', edit_user_registration_path, id: 'editProfileButton' %>
  </p>
  <p id='profileFullName'>
    <%= @current_user.first_name %>
    <%= @current_user.last_name %>
  </p>
</div>


<div class='profileInfo' id='smallerFont'>
  <h2>Owned Projects</h2>
    <% @current_user.owned_projects.each do |project| %>
      <li>
        <%= link_to project.title, project_path(project) %>
      </li>
    <% end %>


  <h2>Coding Projects</h2>
    <% @current_user.projects.each do |project| %>
      <li>
        <%= link_to project.title, project_path(project) %>
      </li>
    <% end %>
</div>
