<h1>Edit Project</h1>


<% if flash[:error].empty? %>
  <%= form_for(@project) do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>

    <div id='dropDown'>
      <%= f.select :language, @languages %>
    </div>

    <div class="actions">
      <%= f.submit "Update Project"%>
    </div>
  <% end %>
<% else %>
  <div>YOU ARE NOT THE OWNER!</div>
<% end %>
