<%= form_for(@project) do |f| %>
  <div>
    <div>
      <%= f.text_field :title, placeholder: 'Project Title' %>
    </div>

    <div>
      <%= f.text_area :description, placeholder: 'Project Description'%>
    </div>

    <div>
      <h3>Preferred Meeting Location:</h3>
      <div>
        <%= f.text_field :street, placeholder: 'Street Address'%>
      </div>

      <div>
        <%= f.text_field :city, placeholder: 'City'%>
      </div>

      <div>
        <%= f.text_field :state, placeholder: 'State'%>
      </div>
    </div>

    <div>
      <%= f.select :language, @languages %>
    </div>

    <div>
      <%= f.submit value='Create Project' %>
    </div>

  </div>
<% end %>
