<div class="projectForm">
  <%= form_for(@project) do |f| %>
    <div>
      <div>
        <%= f.text_field :title, placeholder: 'Project Title' %>
      </div>
      <br>

      <div>
        <%= f.text_area :description, placeholder: 'Project Description'%>
      </div>

      <div>
        <h3 id='meetingLoc'>Preferred Meeting Location:</h3>
        <div>
          <%= f.text_field :street, placeholder: 'Street Address'%>
        </div>
        <br>

        <div>
          <%= f.text_field :city, placeholder: 'City'%>
        </div>
        <br>

        <div>
          <%= f.text_field :state, placeholder: 'State'%>
        </div>
        <br>
      </div>

      <div id='dropDown'>
        <%= f.select :language, @languages %>
      </div>
      <br>

      <div>
        <%= f.submit value='Create Project' %>
      </div>

    </div>
  <% end %>
</div>
