<div class='showProject'>
  <strong>Project:</strong><%= @project.title %>
  <% if user_signed_in? && @current_user.id == @project.owner_id %>
    | <%= link_to 'Edit', edit_project_path(@project) %>
  <% end %>
  <div>
    <strong>Owner:</strong><%= @project.owner.username %> <% if @project.owner.username == current_user.username %>
    | <%= link_to 'Profile', profile_path %>
    <% end %>
  </div>
  <div>
    <% if @owner || !Assignment.where(project_id: @project.id, user_id: current_user.id).empty? %>
      <%= link_to 'Chatroom', chatroom_path(@project) %>
    <% end %>
  </div>
  <div class='deleteProject'>
    <% if user_signed_in? && @current_user.id == @project.owner_id %>
      <%= link_to "Delete Project", @project, method: :delete%>
    <% end %>
  </div>
</div>



<div class="space30"></div>

<div class='showProjectRight'>
  <strong>Description:</strong><%= @project.description %>
</div>

<div class="space30"></div>

<div class='showProject'>
  <strong>Coders:</strong>
  <% @project.users.each do |user| %>
    <li>
      <%= user.username %>
    </li>
  <% end %>

  <% if user_signed_in? && Assignment.where(project_id: params[:id], user_id: current_user.id).empty?%>
    <div class="button">
      <%= link_to 'Join This Project!', assignments_path(project_id: @project.id, user_id: current_user.id, project: @project), method: :post %>
    </div>
  <% end %>

</div>

<div class="space30"></div>

<div class='center'>
  <h3 class='whiteText'>Preferred Meeting Location:</h3>
  <p class='address'> <%= @project.street %>, <%= @project.city %> <%= @project.state %></p>
  <div id="map"></div>
</div>

<script>
  function initMap() {
    var uluru = {lat: <%= @project.latitude %>, lng: <%= @project.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwKpno8xQdD_rAR9evmxaxmtuGhx9CC0s&callback=initMap">
</script>
